* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}
.container header {
  display: flex;
  justify-content: space-around;
  height: 75px;
  align-items: flex-end;
  background-color: #0B090A;
  color: #ffffff;
}
.container header a {
  text-decoration: none;
  color: #ffffff;
}
@media (max-width: 600px) {
  .container header {
    display: none;
  }
}
.container header h1 {
  font-size: 30px;
}
.container header p {
  font-size: 18px;
  cursor: pointer;
  border: solid 2px #ffffff;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s;
}
.container header p:hover {
  border-color: #BF0426;
}
@media (max-width: 600px) {
  .container header p {
    display: none;
  }
}
.container .coverContent {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  min-height: 100vh;
  background-color: #0B090A;
  color: #ffffff;
}
@media (max-width: 600px) {
  .container .coverContent {
    align-items: center;
    justify-content: center;
    height: 78vh;
    gap: 10px;
    background: url("../homepage/../sass/../imagens/background.jpg") no-repeat no-repeat;
    background-size: cover;
  }
}
.container .coverContent .mainContent {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 15px;
}
@media (max-width: 740px) {
  .container .coverContent .mainContent {
    justify-content: flex-start;
  }
}
@media (max-width: 600px) {
  .container .coverContent .mainContent {
    width: 100%;
    gap: 10px;
  }
}
.container .coverContent .mainContent .titleMobile {
  display: none;
}
@media (max-width: 600px) {
  .container .coverContent .mainContent .titleMobile {
    display: flex;
    font-size: 30px;
  }
}
.container .coverContent .mainContent h1 {
  text-align: center;
  font-size: 40px;
}
@media (max-width: 740px) {
  .container .coverContent .mainContent h1 {
    font-size: 25px;
  }
}
@media (max-width: 326px) {
  .container .coverContent .mainContent h1 {
    display: none;
  }
}
.container .coverContent .mainContent p {
  text-align: center;
  width: 100%;
}
@media (max-width: 740px) {
  .container .coverContent .mainContent p {
    display: none;
  }
}
.container .coverContent .mainContent button {
  background-color: #BF0426;
  border-color: #ffffff;
  color: #ffffff;
  height: 60px;
  width: 220px;
  padding: 5px;
  cursor: pointer;
  font-size: 25px;
}
@media (max-width: 326px) {
  .container .coverContent .mainContent button {
    width: 120px;
    height: 30px;
    font-size: 14px;
  }
}
.container .coverContent .mainContent button a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
}
.container .coverContent .mainContent button a:hover {
  color: #e0b3ca;
}
.container .coverContent .sidebarContent {
  margin-right: 3em;
}
@media (max-width: 600px) {
  .container .coverContent .sidebarContent {
    display: none;
  }
}
.container .coverContent .sidebarContent .coverimgSidebarContent {
  width: 100%;
}
.container main {
  padding-top: 15px;
}
.container main .descriptionServices {
  padding: 15px;
}
.container main .descriptionServices p {
  font-size: 25px;
  color: #BF0426;
}
.container main .services {
  height: auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container main .services .hair {
  width: 300px;
  height: auto;
  padding: 15px;
  cursor: pointer;
  transition: 0.9s;
}
.container main .services .hair:hover {
  box-shadow: 0px 0px 21px -8px;
}
.container main .services .imgServices {
  width: 250px;
  height: auto;
  background-size: cover;
  transition: 0.2s;
}
.container main .services .imgServices:hover {
  padding: 2px;
}
.container main .services .imgServices h1 {
  text-align: center;
}
.container main .services .imgServices p {
  text-align: center;
}
.container main .descriptionProfessonals {
  padding: 15px;
}
.container main .descriptionProfessonals p {
  font-size: 25px;
  color: #BF0426;
}
.container main .professionals {
  background-color: #F5F3F4;
  padding-top: 15px;
  margin: 0;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container main .professionals .barber {
  width: 300px;
  height: auto;
  padding: 15px;
  cursor: pointer;
  transition: 0.9s;
}
.container main .professionals .barber:hover {
  box-shadow: 0px 0px 21px -8px;
}
.container main .professionals .barber .imgBarber {
  width: 250px;
  height: auto;
  background-size: cover;
  transition: 0.2s;
}
.container main .professionals .barber .imgBarber:hover {
  padding: 2px;
}
.container main .professionals .barber .imgBarber h1 {
  text-align: center;
}
.container main .professionals .barber .imgBarber p {
  text-align: center;
}
.container aside {
  background-color: #0B090A;
  margin-top: 1em;
}
.container aside footer {
  min-height: 35vh;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.container aside footer h1 {
  font-size: 30px;
}
@media (max-width: 400px) {
  .container aside footer h1 {
    display: none;
  }
}
.container aside footer p {
  font-size: 25px;
}
.container aside footer .networks {
  display: flex;
  gap: 10px;
}
.container aside footer .networks .socialNetworks .imgNetworks {
  width: 70px;
  background-color: transparent;
  cursor: pointer;
}
@media (max-width: 565px) {
  .container aside footer {
    flex-direction: column;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
